<div class="one-header-top">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="header-social">
                    <ul>
                        <li><a target="_blank" href="#"><i class='bx bxl-facebook'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bxl-twitter'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bxl-pinterest-alt'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bxl-instagram'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="header-partner">
                    <p>We recognize this is a difficult time for many people. <a href="#">Become a Partner</a></p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="header-call">
                    <ul>
                        <li>
                            <span>Call Us:</span>
                            <a href="tel:+4234543123678">+216 55721502</a>
                        </li>
                        <li>
                            <span>Mail Us:</span>
                            <a href="mailto:adel.guizani@esprit.tn">adel.guizani@esprit.tn</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" routerLink="/"><img src="assets/img/unnamed.png" alt="Logo"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#Home">Home</a></li>

            <li class="nav-item"><a class="nav-link" href="account">Acount Management</a></li>

            <li class="nav-item"><a class="nav-link" href="Stat">Data Analyse</a></li>

            <li class="nav-item"><a class="nav-link" href="#team">Transaction</a></li>

           

            <li class="nav-item"><a class="nav-link" href="#contact">Insurance</a></li>

            <li class="nav-item"><a class="nav-link" href="#contact">Loan</a></li>

            <li class="nav-item"><a class="nav-link" href="#contact">Products</a></li>
            <li class="nav-item"><a class="nav-link" href="#contact">Complaint</a></li>
            
        </ul>
    </div>

    <div class="side-nav">
     
        
    </div>
</nav>